body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Commissioner', sans-serif;
}

.header-image{
    background-image: url("images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height:250px;
    width:100%;
    position: absolute;
    z-index: -1;
}

.navbar-brand{   
    color:white !important;
    margin-left:10.5%;
}

.nav-link{
    font-size:14px;
    color:white !important;
}

.navlinks{
    margin-right: 10%;
}

